USE [master]
GO
/****** Object:  Database [BLUEHEAVENAIRLINE]    Script Date: 21.12.2017 15:27:09 ******/
CREATE DATABASE [BLUEHEAVENAIRLINE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blue_Heaven_Airline', FILENAME = N'D:\datenbanken\Blue_Heaven_Airline.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Blue_Heaven_Airline_log', FILENAME = N'D:\datenbanken\Blue_Heaven_Airline_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BLUEHEAVENAIRLINE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BLUEHEAVENAIRLINE]
GO
USE [BLUEHEAVENAIRLINE]
GO
/****** Object:  Sequence [dbo].[SQBUCHUNGNR]    Script Date: 21.12.2017 15:27:09 ******/
CREATE SEQUENCE [dbo].[SQBUCHUNGNR] 
 AS [smallint]
 START WITH 682
 INCREMENT BY 1
 MINVALUE -32768
 MAXVALUE 32767
 CYCLE 
 CACHE 
GO
USE [BLUEHEAVENAIRLINE]
GO
/****** Object:  Sequence [dbo].[SQFLUEGEN]    Script Date: 21.12.2017 15:27:09 ******/
CREATE SEQUENCE [dbo].[SQFLUEGEN] 
 AS [int]
 START WITH 3
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [BLUEHEAVENAIRLINE]
GO
/****** Object:  Sequence [dbo].[SQFLUGHAFENID]    Script Date: 21.12.2017 15:27:09 ******/
CREATE SEQUENCE [dbo].[SQFLUGHAFENID] 
 AS [bigint]
 START WITH 4839
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BLUEHEAVENAIRLINE]
GO
/****** Object:  Sequence [dbo].[SQFLUGZEUGBESATZUNG]    Script Date: 21.12.2017 15:27:09 ******/
CREATE SEQUENCE [dbo].[SQFLUGZEUGBESATZUNG] 
 AS [int]
 START WITH 12
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [BLUEHEAVENAIRLINE]
GO
/****** Object:  Sequence [dbo].[SQPERSONAL]    Script Date: 21.12.2017 15:27:09 ******/
CREATE SEQUENCE [dbo].[SQPERSONAL] 
 AS [tinyint]
 START WITH 44
 INCREMENT BY 1
 MINVALUE 0
 MAXVALUE 255
 CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[FNC_ADD_DATETIME]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FNC_ADD_DATETIME](@DATETIME AS DATETIME, @TIME AS TIME(0))
RETURNS DATETIME
AS
BEGIN
	DECLARE @RES DATETIME = @DATETIME;
	SELECT @RES = DATEADD(MINUTE, DATEPART(MINUTE, @TIME), DATEADD(HOUR, DATEPART(HOUR, @TIME), @RES));
	RETURN(@RES);
END



GO
/****** Object:  UserDefinedFunction [dbo].[FNC_BAU_DATETIME]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FNC_BAU_DATETIME](@DATE AS DATE, @TIME AS TIME(0))
RETURNS DATETIME
AS
BEGIN
	DECLARE @RES DATETIME = @DATE;
	SELECT @RES = DATEADD(MINUTE, DATEPART(MINUTE, @TIME), DATEADD(HOUR, DATEPART(HOUR, @TIME), @RES));
--	SELECT @RES = DATEADD(HOUR, DATEPART(HOUR, @TIME), @RES);
	RETURN(@RES);
END



GO
/****** Object:  UserDefinedFunction [dbo].[FNC_GETSITZNAME]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FNC_GETSITZNAME](@SITZPLATZNR tinyint, @BUCHUNGNR int)
RETURNS VARCHAR(3)
AS
BEGIN
	DECLARE @SITZPLAETZEVARIANTENNR tinyint = (SELECT FK_SITZPLAETZEVARIANTENNR FROM BUCHUNGEN WHERE BuchungID=@BUCHUNGNR);
	DECLARE @RES VARCHAR(3) = CAST((SELECT NAME FROM SITZPLAETZE WHERE [FK_SITZPLAETZEVARIANTENNR]=@SITZPLAETZEVARIANTENNR AND [SitzplatzID]=@SITZPLATZNR) AS VARCHAR);
	RETURN(@RES);
END

GO
/****** Object:  UserDefinedFunction [dbo].[FNC_STRING2DATE]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FNC_STRING2DATE](@STRING VARCHAR)
RETURNS DATE
AS
BEGIN
--	DECLARE @RES DATE = CONVERT(DATE, @STRING);
--	DECLARE @RES DATE = CAST(@STRING AS DATE);
	RETURN(GETDATE());
END

GO
/****** Object:  Table [dbo].[BUCHUNGEN]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUCHUNGEN](
	[BuchungID] [int] NOT NULL,
	[FK_FLUGNR] [int] NOT NULL,
	[FK_SITZPLAETZEVARIANTENNR] [tinyint] NOT NULL,
	[EROEFFNET] [datetime] NOT NULL,
 CONSTRAINT [PK_BUCHUNGEN] PRIMARY KEY CLUSTERED 
(
	[BuchungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FHAUX]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FHAUX](
	[IATAID] [char](3) NOT NULL,
	[ICAOID] [varchar](4) NULL,
	[NAME] [varchar](128) NULL,
	[ORT] [varchar](128) NULL,
	[REGION] [varchar](128) NULL,
	[LAND] [varchar](128) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FLUEGE]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLUEGE](
	[FlugID] [int] NOT NULL,
	[DATUM] [date] NOT NULL,
	[UHRZEIT] [time](0) NOT NULL,
	[FK_FLUGHAFEN_HERKUNFT] [smallint] NOT NULL,
	[FK_FLUGHAFEN_ZIEL] [smallint] NOT NULL,
	[FK_FLUGZEUG] [smallint] NULL,
	[FK_MANNSCHAFT] [int] NOT NULL,
	[FLUGNUMMER] [varchar](10) NOT NULL,
	[FLUGDAUER] [time](0) NULL DEFAULT ('00:00'),
	[DISTANZ] [smallint] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_FLUEGE] PRIMARY KEY CLUSTERED 
(
	[FlugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FLUGGAESTE]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLUGGAESTE](
	[FK_BUCHUNGNR] [int] NOT NULL,
	[BUCHUNGNR] [smallint] NOT NULL,
	[FLUGGAST_NACHNAME] [varchar](32) NOT NULL,
	[FLUGGAST_VORNAME] [varchar](32) NOT NULL,
	[PERSONALAUSWEIS] [varchar](32) NOT NULL,
	[GEBURTSDATUM] [date] NOT NULL,
	[FK_STAATSANGEHOERIGKEIT] [tinyint] NOT NULL,
	[SITZNR] [tinyint] NULL,
 CONSTRAINT [PK_FLUGGAESTE] PRIMARY KEY CLUSTERED 
(
	[FK_BUCHUNGNR] ASC,
	[BUCHUNGNR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FLUGHAFEN]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLUGHAFEN](
	[FlughafenID] [smallint] NOT NULL,
	[IATAID] [char](3) NOT NULL,
	[NAME] [varchar](128) NOT NULL,
	[ORT] [varchar](64) NOT NULL,
	[FK_LandNR] [tinyint] NOT NULL,
 CONSTRAINT [PK_FLUGHAFEN] PRIMARY KEY CLUSTERED 
(
	[FlughafenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FLUGINFORMATION]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLUGINFORMATION](
	[FluginformationID] [int] NOT NULL,
	[FK_FLUGNR] [int] NOT NULL,
	[STAMP] [datetime] NOT NULL,
	[FK_INFORMATIONTYP] [smallint] NOT NULL,
	[TEXT] [varchar](128) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FLUGPOSITIONEN]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLUGPOSITIONEN](
	[FlugpositionenID] [int] NOT NULL,
	[FK_FLUGNR] [int] NOT NULL,
	[STAMP] [datetime] NOT NULL,
	[LATITUDE] [float] NOT NULL,
	[LONGITUDE] [float] NOT NULL,
	[GESCHWINDIGKEIT] [smallint] NOT NULL,
	[ALTITUDE] [int] NOT NULL,
 CONSTRAINT [PK_FLUGPOSITIONEN] PRIMARY KEY CLUSTERED 
(
	[FlugpositionenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FLUGZEUGBESATZUNG]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLUGZEUGBESATZUNG](
	[FK_FLUGNR] [int] NOT NULL,
	[SQ_FLUGZEUGBESATZUNG] [int] NOT NULL,
	[FK_KATEGORIE] [tinyint] NOT NULL,
	[FK_PERSONAL] [tinyint] NOT NULL,
 CONSTRAINT [PK_FLUGZEUGBESATZUNG] PRIMARY KEY CLUSTERED 
(
	[FK_FLUGNR] ASC,
	[SQ_FLUGZEUGBESATZUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FLUGZEUGE]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLUGZEUGE](
	[FlugzeugID] [smallint] NOT NULL,
	[NAME] [varchar](64) NOT NULL,
	[FK_FLUGZEUGE_TYP] [tinyint] NOT NULL,
	[CODENAME] [varchar](32) NULL,
	[KENNZEICHEN] [varchar](8) NOT NULL,
	[FK_FLUGHAFEN_BASE] [smallint] NULL,
	[LETZTE_UEBERPRUEFUNG] [date] NOT NULL,
 CONSTRAINT [PK_FLUGZEUGE] PRIMARY KEY CLUSTERED 
(
	[FlugzeugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FLUGZEUGTYPEN]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLUGZEUGTYPEN](
	[FlugzeugtypID] [tinyint] NOT NULL,
	[NAME] [varchar](32) NOT NULL,
	[MAX_PASSAGIEREN] [tinyint] NULL,
 CONSTRAINT [PK_FLUGZEUGTYPEN] PRIMARY KEY CLUSTERED 
(
	[FlugzeugtypID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INFORMATIONTYPEN]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INFORMATIONTYPEN](
	[InformationID] [smallint] NOT NULL,
	[TEXT] [varchar](64) NOT NULL,
 CONSTRAINT [PK_INFORMATIONTYPEN] PRIMARY KEY CLUSTERED 
(
	[InformationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KATEGORIEN]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KATEGORIEN](
	[KategorieID] [tinyint] NOT NULL,
	[NAME] [varchar](32) NOT NULL,
 CONSTRAINT [PK_KATEGORIEN] PRIMARY KEY CLUSTERED 
(
	[KategorieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LAENDER]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LAENDER](
	[LaenderID] [tinyint] NOT NULL,
	[Name] [varchar](128) NOT NULL,
 CONSTRAINT [PK_LAENDER] PRIMARY KEY CLUSTERED 
(
	[LaenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PEOPLE]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PEOPLE](
	[NPE] [varchar](50) NULL,
	[PCG] [varchar](50) NULL,
	[SCG] [varchar](50) NULL,
	[DNA] [date] NULL,
	[TDI] [char](1) NULL,
	[DNI] [varchar](50) NULL,
	[CPA] [char](3) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSONAL]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[PersonalID] [tinyint] NOT NULL,
	[NACHNAME] [varchar](32) NOT NULL,
	[VORNAME] [varchar](32) NOT NULL,
	[FK_KATEGORIE] [tinyint] NOT NULL,
 CONSTRAINT [PK_PERSONAL] PRIMARY KEY CLUSTERED 
(
	[PersonalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SITZPLAETZE]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SITZPLAETZE](
	[FK_SITZPLAETZEVARIANTENNR] [tinyint] NOT NULL,
	[SitzplatzID] [tinyint] NOT NULL,
	[REIHE] [tinyint] NOT NULL,
	[SITZ] [char](1) NOT NULL,
	[KLASSE] [tinyint] NOT NULL,
	[NAME] [char](3) NOT NULL,
 CONSTRAINT [PK_SITZPLAETZE] PRIMARY KEY CLUSTERED 
(
	[FK_SITZPLAETZEVARIANTENNR] ASC,
	[SitzplatzID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SITZPLAETZEVARIANTEN]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SITZPLAETZEVARIANTEN](
	[SitzplatzvarianteID] [tinyint] NOT NULL,
	[NAME] [varchar](32) NOT NULL,
	[KLASSE1_MENGE] [tinyint] NOT NULL,
	[KLASSE2_MENGE] [tinyint] NOT NULL,
 CONSTRAINT [PK_SITZPLAETZEVARIANTEN] PRIMARY KEY CLUSTERED 
(
	[SitzplatzvarianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VW_FLUGGAESTE]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_FLUGGAESTE] AS
SELECT 
FK_BUCHUNGNR BUCHUNGID,
SITZNR,
FLUGGAST_NACHNAME AS FAMILIENNAME,
FLUGGAST_VORNAME AS VORNAME,
PERSONALAUSWEIS,
FORMAT(GEBURTSDATUM, 'd', 'de-de' ) GEBURTS,
DATEDIFF(YEAR, GEBURTSDATUM, GETDATE()) "ALTER",
NAME AS STAAT,
dbo.FNC_GETSITZNAME(SITZNR, FK_BUCHUNGNR) SITZNAME
FROM FLUGGAESTE
INNER JOIN LAENDER la ON LAENDERID=FK_STAATSANGEHOERIGKEIT;

GO
ALTER TABLE [dbo].[BUCHUNGEN]  WITH CHECK ADD  CONSTRAINT [FK_BUCHUNGEN_FLUEGE] FOREIGN KEY([FK_FLUGNR])
REFERENCES [dbo].[FLUEGE] ([FlugID])
GO
ALTER TABLE [dbo].[BUCHUNGEN] CHECK CONSTRAINT [FK_BUCHUNGEN_FLUEGE]
GO
ALTER TABLE [dbo].[BUCHUNGEN]  WITH CHECK ADD  CONSTRAINT [FK_BUCHUNGEN_SITZPLAETZEVARIANTEN] FOREIGN KEY([FK_SITZPLAETZEVARIANTENNR])
REFERENCES [dbo].[SITZPLAETZEVARIANTEN] ([SitzplatzvarianteID])
GO
ALTER TABLE [dbo].[BUCHUNGEN] CHECK CONSTRAINT [FK_BUCHUNGEN_SITZPLAETZEVARIANTEN]
GO
ALTER TABLE [dbo].[FLUEGE]  WITH CHECK ADD  CONSTRAINT [FK_FLUEGE_FLUGHAFEN] FOREIGN KEY([FK_FLUGHAFEN_HERKUNFT])
REFERENCES [dbo].[FLUGHAFEN] ([FlughafenID])
GO
ALTER TABLE [dbo].[FLUEGE] CHECK CONSTRAINT [FK_FLUEGE_FLUGHAFEN]
GO
ALTER TABLE [dbo].[FLUEGE]  WITH CHECK ADD  CONSTRAINT [FK_FLUEGE_FLUGHAFEN1] FOREIGN KEY([FK_FLUGHAFEN_ZIEL])
REFERENCES [dbo].[FLUGHAFEN] ([FlughafenID])
GO
ALTER TABLE [dbo].[FLUEGE] CHECK CONSTRAINT [FK_FLUEGE_FLUGHAFEN1]
GO
ALTER TABLE [dbo].[FLUEGE]  WITH CHECK ADD  CONSTRAINT [FK_FLUEGE_FLUGZEUGE] FOREIGN KEY([FK_FLUGZEUG])
REFERENCES [dbo].[FLUGZEUGE] ([FlugzeugID])
GO
ALTER TABLE [dbo].[FLUEGE] CHECK CONSTRAINT [FK_FLUEGE_FLUGZEUGE]
GO
ALTER TABLE [dbo].[FLUGGAESTE]  WITH CHECK ADD  CONSTRAINT [FK_FLUGGAESTE_BUCHUNGEN] FOREIGN KEY([FK_BUCHUNGNR])
REFERENCES [dbo].[BUCHUNGEN] ([BuchungID])
GO
ALTER TABLE [dbo].[FLUGGAESTE] CHECK CONSTRAINT [FK_FLUGGAESTE_BUCHUNGEN]
GO
ALTER TABLE [dbo].[FLUGGAESTE]  WITH CHECK ADD  CONSTRAINT [FK_FLUGGAESTE_LAENDER] FOREIGN KEY([FK_STAATSANGEHOERIGKEIT])
REFERENCES [dbo].[LAENDER] ([LaenderID])
GO
ALTER TABLE [dbo].[FLUGGAESTE] CHECK CONSTRAINT [FK_FLUGGAESTE_LAENDER]
GO
ALTER TABLE [dbo].[FLUGHAFEN]  WITH CHECK ADD  CONSTRAINT [FK_FLUGHAFEN_LAENDER] FOREIGN KEY([FK_LandNR])
REFERENCES [dbo].[LAENDER] ([LaenderID])
GO
ALTER TABLE [dbo].[FLUGHAFEN] CHECK CONSTRAINT [FK_FLUGHAFEN_LAENDER]
GO
ALTER TABLE [dbo].[FLUGINFORMATION]  WITH CHECK ADD  CONSTRAINT [FK_FLUGINFORMATION_FLUEGE] FOREIGN KEY([FK_FLUGNR])
REFERENCES [dbo].[FLUEGE] ([FlugID])
GO
ALTER TABLE [dbo].[FLUGINFORMATION] CHECK CONSTRAINT [FK_FLUGINFORMATION_FLUEGE]
GO
ALTER TABLE [dbo].[FLUGINFORMATION]  WITH CHECK ADD  CONSTRAINT [FK_FLUGINFORMATION_INFORMATIONTYPEN] FOREIGN KEY([FK_INFORMATIONTYP])
REFERENCES [dbo].[INFORMATIONTYPEN] ([InformationID])
GO
ALTER TABLE [dbo].[FLUGINFORMATION] CHECK CONSTRAINT [FK_FLUGINFORMATION_INFORMATIONTYPEN]
GO
ALTER TABLE [dbo].[FLUGPOSITIONEN]  WITH CHECK ADD  CONSTRAINT [FK_FLUGPOSITIONEN_FLUEGE] FOREIGN KEY([FK_FLUGNR])
REFERENCES [dbo].[FLUEGE] ([FlugID])
GO
ALTER TABLE [dbo].[FLUGPOSITIONEN] CHECK CONSTRAINT [FK_FLUGPOSITIONEN_FLUEGE]
GO
ALTER TABLE [dbo].[FLUGZEUGBESATZUNG]  WITH CHECK ADD  CONSTRAINT [FK_FLUGZEUGBESATZUNG_FLUEGE] FOREIGN KEY([FK_FLUGNR])
REFERENCES [dbo].[FLUEGE] ([FlugID])
GO
ALTER TABLE [dbo].[FLUGZEUGBESATZUNG] CHECK CONSTRAINT [FK_FLUGZEUGBESATZUNG_FLUEGE]
GO
ALTER TABLE [dbo].[FLUGZEUGBESATZUNG]  WITH CHECK ADD  CONSTRAINT [FK_FLUGZEUGBESATZUNG_KATEGORIEN] FOREIGN KEY([FK_KATEGORIE])
REFERENCES [dbo].[KATEGORIEN] ([KategorieID])
GO
ALTER TABLE [dbo].[FLUGZEUGBESATZUNG] CHECK CONSTRAINT [FK_FLUGZEUGBESATZUNG_KATEGORIEN]
GO
ALTER TABLE [dbo].[FLUGZEUGBESATZUNG]  WITH CHECK ADD  CONSTRAINT [FK_FLUGZEUGBESATZUNG_PERSONAL] FOREIGN KEY([FK_PERSONAL])
REFERENCES [dbo].[PERSONAL] ([PersonalID])
GO
ALTER TABLE [dbo].[FLUGZEUGBESATZUNG] CHECK CONSTRAINT [FK_FLUGZEUGBESATZUNG_PERSONAL]
GO
ALTER TABLE [dbo].[FLUGZEUGE]  WITH CHECK ADD  CONSTRAINT [FK_FLUGZEUGE_FLUGHAFEN] FOREIGN KEY([FK_FLUGHAFEN_BASE])
REFERENCES [dbo].[FLUGHAFEN] ([FlughafenID])
GO
ALTER TABLE [dbo].[FLUGZEUGE] CHECK CONSTRAINT [FK_FLUGZEUGE_FLUGHAFEN]
GO
ALTER TABLE [dbo].[FLUGZEUGE]  WITH CHECK ADD  CONSTRAINT [FK_FLUGZEUGE_FLUGZEUGTYPEN] FOREIGN KEY([FK_FLUGZEUGE_TYP])
REFERENCES [dbo].[FLUGZEUGTYPEN] ([FlugzeugtypID])
GO
ALTER TABLE [dbo].[FLUGZEUGE] CHECK CONSTRAINT [FK_FLUGZEUGE_FLUGZEUGTYPEN]
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_KATEGORIEN] FOREIGN KEY([FK_KATEGORIE])
REFERENCES [dbo].[KATEGORIEN] ([KategorieID])
GO
ALTER TABLE [dbo].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_KATEGORIEN]
GO
ALTER TABLE [dbo].[SITZPLAETZE]  WITH CHECK ADD  CONSTRAINT [FK_SITZPLAETZE_SITZPLAETZEVARIANTEN] FOREIGN KEY([FK_SITZPLAETZEVARIANTENNR])
REFERENCES [dbo].[SITZPLAETZEVARIANTEN] ([SitzplatzvarianteID])
GO
ALTER TABLE [dbo].[SITZPLAETZE] CHECK CONSTRAINT [FK_SITZPLAETZE_SITZPLAETZEVARIANTEN]
GO
/****** Object:  StoredProcedure [dbo].[NEU_FLUG_ERSTELLEN]    Script Date: 21.12.2017 15:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NEU_FLUG_ERSTELLEN]
@P_DATUM DATE,
@P_UHRZEIT TIME(0),
@P_FK_FLUGHAFEN_HERKUNFT smallint,
@P_FK_FLUGHAFEN_ZIEL smallint,
@P_FK_FLUGZEUG smallint,
@P_FK_MANNSCHAFT int,
@P_FLUGNUMMER VARCHAR(10),
@P_FLUGDAUER TIME(0),
@P_DISTANZ smallint
AS
BEGIN
	DECLARE @FLUGID int = NEXT VALUE FOR [dbo].[SQFLUEGEN];
--	DECLARE @FLUGID int = 0;

BEGIN TRANSACTION;
BEGIN TRY  
	INSERT INTO FLUEGE
	VALUES(
		@FLUGID,
		@P_DATUM,
		@P_UHRZEIT,
		@P_FK_FLUGHAFEN_HERKUNFT,
		@P_FK_FLUGHAFEN_ZIEL,
		@P_FK_FLUGZEUG,
		@P_FK_MANNSCHAFT,
		@P_FLUGNUMMER,
		@P_FLUGDAUER,
		@P_DISTANZ );

	COMMIT TRANSACTION;
END TRY  

BEGIN CATCH
PRINT 'ERRHOR';
	ROLLBACK TRANSACTION;
END CATCH

END

GO
USE [master]
GO
