USE [testdatenbank]
GO
/****** Object:  StoredProcedure [dbo].[MENGE_IN_LAGER_PER_PRODUKT_NAME]    Script Date: 13.12.2017 09:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[MENGE_IN_LAGER_PER_PRODUKT_NAME]
@PARAM_PRODUKT_NAME VARCHAR(255)
AS
BEGIN
	DECLARE Produkt_Cursor_Name CURSOR FOR 
		SELECT DISTINCT PRODUKTID FROM PRODUKTE WHERE PRODUKTDETAIL LIKE '%'+@PARAM_PRODUKT_NAME+'%';

	DECLARE @ProduktID int = 0;

	OPEN Produkt_Cursor_Name;

	FETCH NEXT FROM Produkt_Cursor_Name INTO @ProduktID;

	WHILE(@@FETCH_STATUS = 0)
		BEGIN
		EXEC MENGE_IN_LAGER_PER_PRODUKT_ID @ProduktID;
			FETCH NEXT FROM Produkt_Cursor_Name INTO @ProduktID;
		END

	CLOSE Produkt_Cursor_Name;
	DEALLOCATE Produkt_Cursor_Name;

END


